@model iAttendTFL_WebApp.ViewModels.Accounts.MyAccountViewModel
@{
    ViewData["Title"] = "My Account";
}
<div class="center-contents-on-screen">
    <div class="small-div" style="margin: auto;">
        <h1 class="hor-center-text">My Account</h1>
        <table class="no-design-table">
            <tr>
                <td>TFL Code:</td>
                <td>
                    @{
                        var base64 = Convert.ToBase64String(Model.Barcode);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    }
                    <div class="barcode-div">
                        <img src="@imgSrc" class="barcode-img" />
                    </div>
                    <div class="hor-center-text">
                        <span class="subtext"><a href="@imgSrc">Click here</a> to view larger image.</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>@Model.FullName</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Account Type:</td>
                <td>@Model.AccountTypeString</td>
            </tr>
            @if (Model.AccountType != 'a' && Model.AccountType != 'm')
            {
                <tr>
                    <td>Education Track:</td>
                    <td>@Model.Track</td>
                </tr>
                <tr>
                    <td>Expected Graduation:</td>
                    <td>@Model.ExpectedGraduationDate</td>
                </tr>
            }
        </table>
        <br />
        <input type="button" class="hor-center-element" value="Reset My Password" onclick="location.href='@Url.Action("RequestNewPassword", "Home")'" />
        <p class="subtext">Clicking the link above will sign you out of your account.</p>
        @if (Model.AccountType == 'a')
        {
            <p class="subtext">To make changes to your account or another account, please visit the <a asp-controller="Home" asp-action="ManageAccounts">Manage Accounts</a> page.</p>
        }
        else
        {
            <p class="subtext">To make other changes to your account, please contact an administrator.</p>
        }
    </div>
</div>